{% extends 'course/layout.html' %}
{% block body %}
    <h2 style="text-align: center;">Login</h2>
    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}


    
    <form action="{% url 'login' %}" method="post" style="text-align: center;">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <input type="submit" value="login">        
  </form>
  
{% endblock %}